<Tapi xmlns="http://tempuri.org/tapi.xsd">
  <DataSource name="Sample">
    <File name="dem" fileName="AU{Date:yyMMdd}.dem" type="Individual">
      <Field name="PID" position="0" length="9" valueType="Text" variableType="IndividualId" />
      <Field name="Weight" position="9" length="8" valueType="Double" variableType="Weight" />

      <Field name="HID" position="0" length="7" valueType="Text"  />
      <Field name="Gender" position="17" length="1" valueType="Option" >
        <Option value="1" description="" name="Male" />
        <Option value="2" description="" name="Female" />
      </Field>
      <Field name="AgeGroup" position="21" length="1" valueType="Text" />
    </File>

    <File name="events" fileName="AU{Date:yyMMdd}.swd" type="Events">
      <Field name="PID" position="0" length="9" valueType="Text" variableType="IndividualId" />
      <Field name="Channel" position="9" length="4" valueType="Option" variableType="ProductId" >
        <Option value="900" name="Kanal 1" />
        <Option value="901" name="Kanal 2" />
        <Option value="903" name="Kanal 3" />
        <Option value="911" name="Kanal 4" />
        <Option value="928" name="Kanal 5" />
        <Option value="941" name="Kanal 6" />
        <Option value="942" name="Kanal 7" />
        <Option value="943" name="Kanal 8" />
        <Option value="944" name="Kanal 9" />
        <Option value="945" name="Kanal 10" />
        <Option value="964" name="Kanal 11" />
        <Option value="965" name="Kanal 12" />
      </Field>
      <Field name="StartTime" position="13" length="6" valueType="Timespan" variableType="StartTime">
        <Configurations>
          <Configuration name="ValueType.Timespan.Format" value="HHmmss" />
        </Configurations>
      </Field>
      <Field name="EndTime" position="19" length="6" valueType="Timespan" variableType="EndTime">
        <Configurations>
          <Configuration name="ValueType.Timespan.Format" value="HHmmss" />
        </Configurations>
      </Field>
    </File>

    <File name="program" fileName="DE{Date:yyMMdd}.std" type="Product" >
      <Field name="Channel" position="7" length="3" valueType="Integer" variableType="ProductId" />
      <Field name="StartTime" position="19" length="6" valueType="Timespan" variableType="StartTime" >
        <Configuration name="ValueType.Timespan.Format" value="HHmmss" />
      </Field>
      <Field name="Duration" position="25" length="6" valueType="Integer" variableType="Duration" />

      <Field name="Program" position="38" length="60" valueType="Text" />
      <Field name="Genre" position="183" length="1" valueType="Option" >
        <Option value="124" name="Barn"                 />
        <Option value="034" name="Kultur"               />
        <Option value="123" name="Livsåskådning"        />
        <Option value="038" name="Livsstil"             />
        <Option value="036" name="Musik"                />
        <Option value="033" name="Nyheter"              />
        <Option value="037" name="Samhälle"             />
        <Option value="040" name="Service"              />
        <Option value="039" name="Sport"                />
        <Option value="120" name="System"               />
        <Option value="121" name="Trafik"               />
        <Option value="035" name="Underhållning"        />
        <Option value="122" name="Vetenskap"            />
        <Option value="127" name="Unspecified"          />
      </Field>

    </File>

    <File name="spottar" fileName="SP{Date:yyMMdd}.std" type="Product" >
      <Field name="Channel" position="9" length="3" valueType="Integer" variableType="ProductId" />
      <Field name="StartTime" position="22" length="6" valueType="Timespan" variableType="StartTime" >
        <Configuration name="ValueType.Timespan.Format" value="HHmmss" />
      </Field>
      <Field name="Duration" position="28" length="5" valueType="Integer" variableType="Duration" />

      <Field name="Campaign" position="0" length="7" valueType="Integer" />
    </File>

  </DataSource>

  <Repertoires>
    <Repertoire name="minutes_in_column"
                consumer="Individual.PID"
                consumed="Channel.Name"
                calculation="Sample" />

    <Repertoire name="classic_Frequency"
                consumer="Individual.PID"
                consumed="Product.Genre.Name"
                period="Day"
                time="DayPart"
                consumedSource="program"
                calculation="Custom"
                calculationScript="Take(1).Count()" />

    <Repertoire name="reach_minute"
                consumer="Individual.PID"
                consumed="Channel.Name"
                time="Minute"
                calculation="Frequency" />

    <Repertoire name="reach_hour"
                consumer="Individual.PID"
                consumed="Channel.Name"
                time="Hour"
                calculation="Frequency" />

    <Repertoire name="reach_daypart"
                consumer="Individual.PID"
                consumed="Channel.Name"
                time="DayPart"
                calculation="Frequency" />

    <Repertoire name="reach_day"
                consumer="Individual.PID"
                consumed="Channel.Name"
                time="Day"
                calculation="Frequency" />


    <Repertoire name="rating_minute"
                consumer="Individual.PID"
                consumed="Channel.Name"
                time="Minute"
                calculation="Volume" />

    <Repertoire name="rating_hour"
                consumer="Individual.PID"
                consumed="Channel.Name"
                time="Hour"
                calculation="Volume" />

    <Repertoire name="rating_daypart"
                consumer="Individual.PID"
                consumed="Channel.Name"
                time="DayPart"
                calculation="Volume" />

    <Repertoire name="rating_day"
                consumer="Individual.PID"
                consumed="Channel.Name"
                time="Day"
                calculation="Volume" />


  </Repertoires>

  <Reports>
    <Report name="minutes_in_column"
            reportoire="minutes_in_column"
            from="2017-02-01"
            to="2017-02-01"
            rows ="Consumed"
            columns ="Time"
            format="Csv"
            aggregate ="Count"
            postprocess="None"
            template="" />

    <Report name="test_frequency"
            reportoire="classic_Frequency"
            from="2017-02-01"
            to="2017-02-01"
            rows ="Consumed"
            columns ="Time"
            format="Csv"
            aggregate ="Sum"
            postprocess="None"
            template="" />

    <Report name="test_reach_minute"
            reportoire="reach_minute"
            from="2017-02-01"
            to="2017-02-01"
            rows ="Consumed"
            columns ="Time"
            format="Csv"
            aggregate ="Sum"
            postprocess="None"
            template="" />

    <Report name="test_reach_hour"
          reportoire="reach_hour"
          from="2017-02-01"
          to="2017-02-01"
          rows ="Consumed"
          columns ="Time"
          format="Csv"
          aggregate ="Sum"
          postprocess="None"
          template="" />

    <Report name="test_reach_daypart"
          reportoire="reach_daypart"
          from="2017-02-01"
          to="2017-02-01"
          rows ="Consumed"
          columns ="Time"
          format="Csv"
          aggregate ="Sum"
          postprocess="None"
          template="" />

    <Report name="test_reach_day"
          reportoire="reach_day"
          from="2017-02-01"
          to="2017-02-01"
          rows ="Consumed"
          columns ="Time"
          format="Csv"
          aggregate ="Sum"
          postprocess="None"
          template="" />

    <Report name="test_rating_minute"
           reportoire="rating_minute"
           from="2017-02-01"
           to="2017-02-01"
           rows ="Consumed"
           columns ="Time"
           format="Csv"
           aggregate ="Sum"
           postprocess="None"
           template="" />

    <Report name="test_rating_hour"
          reportoire="rating_hour"
          from="2017-02-01"
          to="2017-02-01"
          rows ="Consumed"
          columns ="Time"
          format="Csv"
          aggregate ="Sum"
          postprocess="None"
          template="" />

    <Report name="test_rating_daypart"
          reportoire="rating_daypart"
          from="2017-02-01"
          to="2017-02-01"
          rows ="Consumed"
          columns ="Time"
          format="Csv"
          aggregate ="Sum"
          postprocess="None"
          template="" />

    <Report name="test_rating_day"
          reportoire="rating_day"
          from="2017-02-01"
          to="2017-02-01"
          rows ="Consumed"
          columns ="Time"
          format="Csv"
          aggregate ="Sum"
          postprocess="None"
          template="" />

  </Reports>

</Tapi>